@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #e2e8f0;
  background: #020617;
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
